{#

Menu: footer

@package VacancesPourSeniors
@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}
{% if items is iterable %}
	<ul class="Menu-footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
		{% for item in items %}
			<li class="Menu-footer__item" itemprop="name">
				<a class="Menu-footer__link{{ item.classes ? ' ' ~ item.classes | join( ' ' ) }}{{ item.current ? ' is-current' : '' }}" href="{{ item.url }}" itemprop="url"{{ item.target ? ' target="_blank"' }}>
					{{- item.title -}}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
