{#

Tease: residence

@param arr residence
@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@package VacancesPourSeniors
@see https://search.google.com/structured-data/testing-tool
@see https://schema.org/

#}
<article id="tease-residence-{{ residence.id }}" class="Tease-residence" role="article" itemscope itemtype="http://schema.org/Resort">
	<header class="Tease-residence__header">

		<img itemprop="image" content="{{ residence.link }}" src="{{ Image( get_the_residence_thumbnail( residence.id ) ).src | resize( 289, 176 ) }}" alt="{{ get_the_residence_type_name( residence.id ) }} {{ residence.title }} {{ get_the_residence_group_name( residence.id ) }}" width="289" height="176">

	</header>
	<div class="Tease-residence__body">
		<h2 itemprop="name" class="Tease-residence__title">{{ get_the_residence_type_name( residence.id ) }} {{ residence.title }} {{ get_the_residence_group_name( residence.id ) }}</h2>
		<div class="Tease-residence__text">{{ residence.get_field( 'presentation' ) }}</div>
	</div>

	<footer class="Tease-residence__footer">
		<span class="Tease-residence__code">{{ get_the_residence_code( residence.id ) }}</span>
		<div class="Tease-residence__location"  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="addressLocality">{{ residence.get_field( 'city' ) }}</span>, <span class="addressRegion">{{ get_the_residence_region( residence.id ) }}</span>
			<meta itemprop="postalCode" content="{{ residence.postal_code }}">
			<meta itemprop="streetAddress" content="{{ residence.address }}">
		</div>
		<meta itemprop="priceRange" content="{{ residence.price.monthly_prices | default( '0' ) }}">
		{# @TODO Get phone number from settings #}
		<meta itemprop="telephone" content="{{ residence.phone | default( '05 46 95 09 56' )}}">
	</footer>
</article>
