{#

Header

@author     Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@file       views/header.twig
@package    CardinalCapital

#}
<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch' ) }}>
<!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

		{{ wp_head }}

		{# {% include 'components/gtag.html.twig' with { id: '' } %} #}

	</head>

	<body {{ body_class( body_class | join( ' ' ) ) }}>

		<div id="svg-sprite" class="d-none" style="display: none;">{% include '/dist/icons.svg' %}</div>

		<header class="Site-header"role="banner" itemscope itemtype="https://schema.org/WPHeader">
			<div class="Site-container">
				<div class="row d-flex align-items-center">
					<div class="col-5">
						<a class="Logo" href="{{ site.link }}">
							{% include 'svg/use.html.twig' with { icon: 'logo' } only %}
						</a>
					</div>
					<div class="col-6">
						{% include 'components/menu-main.html.twig' with { items: menu.main.items } %}
					</div>
					<div class="col-1"></div>
				</div>
			</div>
		</header>
