{#

Archive: Residence

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@package VacancesPourSeniors

#}
{% extends 'index.html.twig' %}

{% block content %}

<div class="Site-container">
	<ul class="row list-style-type-none" itemprop="itemList" itemscope="" itemtype="http://schema.org/ItemList">
		{% for residence in posts %}
			<li class="col-12 col-sm-6 col-md-3 margin-y-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<meta itemprop="position" content="{{ loop.index }}" />
				{% include 'components/tease-residence.html.twig' with { residence: residence } only %}
			</li>
		{% endfor %}
	</ul>
</div>

<ul class="Pagination">
	{% if pagination.prev %}
		<li class="Pagination__previous">
			<a href="{{ pagination.prev.link }}">
				{{ __( 'Précédent', 'VacancesPourSeniors' ) }}
			</a>
		</li>
	{% endif %}

	{% for page in pagination.pages %}
		{% if page.link %}
			<li class="Pagination__number"><a href="{{ page.link }}">{{ page.title }}</a></li>
		{% elseif page.current %}
			<li class="Pagination__number Pagination__number--current">{{ page.title }}</li>
		{% else %}
			<li class="Pagination__number">{{ page.title }}</li>
		{% endif %}
	{% endfor %}

	{% if pagination.next is iterable %}
		<li class="Pagination__next">
			<a href="{{ pagination.next.link }}">
				{{ __( 'Suivant', 'VacancesPourSeniors' ) }}
			</a>
		</li>
	{% endif %}
</ul>

{% endblock %}
